/* CSS files add styling rules to your content */

body {
  font-family: "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: lightyellow;
}

h1 {
  text-align: center;
  color: #0000ff;
  font-size: 55pt;
  margin: 0px;
  padding-top: 40px;
}

h2 {
  font-size: 18pt;
  text-align: center;
  padding-top: 0px;
  font-family: "Arial", sans-serif;
}

p {
  font-size: 15pt;
  line-height: 10pt;
  text-align: center;
}

li {
  list-style-type: none;
}

a:hover {
  color: #6495ED;
  aatransform: scale(1.8);
}

.cr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.cc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.nav ul li {
  padding: 15px;
  text-align: center;
}

.nav ul li span {
  padding-top: 15px;
}

.nav ul li img {
  width: 100px;
}

.food ul li {
  padding: 10px;
}

.break {
  flex-basis: 100%;
  height: 20px;
}

.smallbreak {
  flex-basis: 100%;
  height: 5px;
}

* {
  box-sizing: border-box;
}

.row {
  width: 90%;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 100%;
  background-color: pink;
  border: 10px solid lightyellow;
}

.column h2 {
  text-align: center;
  font-family: "Arial", sans-serif;
  color: white;
}

.column p {
  text-align: left;
  font-family: "Arial", sans-serif;
  color: white;
}

.column li {
  text-align: left;
  font-family: "Arial", sans-serif;
  color: white;
}

.column2 {
  float: left;
  width: 50%;
  padding: 10px;
  height: 100%;
  border: solid 10px lightyellow;
}

.column2 h2 {
  text-align: center;
  font-family: "Arial", sans-serif;
  color: white;
}

.column2 p {
  text-align: left;
  font-family: "Arial", sans-serif;
  color: white;
}

.column2 li {
  text-align: left;
  font-family: "Arial", sans-serif;
  color: white;
}

.row2 {
  width: 90%;
}

.row2:after {
  content: "";
  display: table;
  clear: both;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.playlist {
  float: center;
  width: 50%;
  padding: 10px;
  height: 300px;
  background-color: darkorange;
  overflow: scroll;
}

.song {
  font-family: "Arial", sans-serif;
  color: white;
  font-size: 20pt;
}

.garden {
  margin-top: -100px;
  padding-top: 0px;
}

.animation-container {
  display: flex;
  height: 50px;
  width: 100px;
}

.element {
  align-self: flex-end;
  width: 100px;
  height: 100px;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.bounce:hover {
  animation-name: bounce;
  animation-timing-function: ease;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

.topnav {
  overflow: hidden;
  background-color: #1E90FF;
  width: 100%;
  padding: 0px;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #87CEFA;
  color: white;
  font-family: "Arial", sans-serif;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 3s, opacity 3s linear;
}

.bookshelf {
  width: 60%;
  height: 350px;
  border-bottom: solid 40px brown;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: flex-end;
}

.book {
  width: 200px;
  height: 300px;
  background-color: pink;
}

.book img {
  width: 200px;
  height: 300px;
}

.break2 {
  flex-basis: 100%;
  height: 100px;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 105%;
  left: 50%;
  margin-left: -80px;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.popup2 {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup2 .popuptext2 {
  visibility: hidden;
  width: 175px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 105%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup2 .popuptext2::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup2 .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.popup3 {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup3 .popuptext3 {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 105%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup3 .popuptext3::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup3 .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

iframe {
  width: 100%;
  height: 100%; 
  position: fixed; 
}

@keyframes colorchange {
  from {color: lightyellow;}
  to {color: dodgerblue;}
}

.colorchange {
  animation-name: colorchange;
  animation-duration: 5s;
}

@keyframes colorchange2 {
  from {color: lightyellow;}
  to {color: dodgerblue;}
}

.colorchange2 {
  animation-name: colorchange;
  animation-duration: 3s;
   animation-delay: 3s;
}